body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 20px;
}

h1 {
    text-align: center;
}

.movies,
.watchlist {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #222;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.addBtn {
    margin-top: 8px;
    width: 100%;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
}

.addBtn:hover {
    transform: scale(1.05);
    background-color: rgb(199, 7, 7);
}

.remove{
    margin-top: 8px;
    width: 100%;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
}